.why-choose-us {
   background: linear-gradient(to right, #e7f4f6, #ebfaff);
  padding: 3rem 1rem;
}

.subtitle {
  font-size: 1.15rem;
  font-weight: 500;
  color: #444;
  line-height: 1.7;
}

.custom-card {
  background: #f3f3f3;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  color: #232323 !important;
  width: 360px;
  min-height: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.2);
}

.list {
  padding-left: 1.2rem;
  list-style: disc;
  color: #e6f5ff;
  font-size: 1rem;
  margin-bottom: 0;
}
